body {
    background-color: #F7E5EB;
    font-family: "Montserrat", sans-serif;
    font-family: "REM", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Shantell Sans", cursive;
}