.Weather {
    background: white;
    border: 1px solid #a39eb7;
    border-radius: 18px;
    margin: 50px auto;
    padding: 30px 15px;
    font-family: "Shantell Sans", cursive;
}

.Weather h1 {
    color: #000000;
}

.Weather canvas {
    display: inline-block;
    margin-right: 10px;
}

.Weather .weather-app-current-region {
    margin: 20px 0;
    padding: 15px 10px;
    line-height: 0.8;
    font-weight: 400;
}

.Weather .city {
    font-size: 38px;
    margin: 0;
    color: #5e0925;
}

.Weather .country {
    font-size: 10px;
    opacity: 0.9;
}

.Weather .weather-app-details {
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    color: #887782;
    line-height: 24px;
    font-weight: 400;
    list-style: none;
    opacity: 0.9;
}

.Weather .weather-app-temperature-container {
    display: flex;
    margin-top: 170px;
    color: #632b4f;
    line-height: 78px;
}

.Weather .WeatherTemperature {
    font-size: 30px;
    margin-top: -20px;
    margin-left: 10px;
}
